
#header {
    background-color: #4d636f;
    height: 50px;
    /* overflow: hidden; */
    /* When hover */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    scroll-behavior: smooth;
}

#header::after {
    content: "";
    clear: both;
    display: block;
}

.header__nav {
    list-style-type: none;
    background-color: #4d636f;
}

.header__nav::after {
    content: "";
    clear: both;
    display: block;
}



#menuLarge > li {
    display: none;
}

#menuLarge > li:first-child {
    display: inline-block;
}

#menuSmall {
    display: none;
}

#menuSmall > li > a,
#menuLarge > li > a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    line-height: 50px;
    padding: 0 24px;
    display: block;
}

.header__nav--quantity {
    position: relative;
    /* flex: 1; */
}

#menuLarge .header__nav--quantity::after {
    content: "3";
    width: 22px;
    height: 18px;
    background-color: #4caf50;
    position: absolute;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    color: #ffffff;
    top: 0;
    left: 0;
    margin-top: 8px;
    margin-left: 42px;
    cursor: pointer;
}

#menuSmall .header__nav-primary:hover a,
#menuLarge .header__nav-primary:hover a {
    background-color: #ffffff;
    color: #000000;
}

#menuLarge .header__nav--quantity:hover > a,
#mobi-menu:hover,
#menuSmall .header__nav--quantity:hover > a {
    background-color: #ccc;
    color: #000000;
}

.header__avatar {
    padding: 0 24px;
    float: right;
    height: 100%;
    display: none;
}

#mobi-menu {
    padding: 10px 24px;
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;   
    height: 100%;  
    cursor: pointer;
}

.header__avatar:hover {
    background-color: #ffffff;
    color: #000000;
}

.header__avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    /* Để tạm */
    margin-top: 10px;
}

.sub-nav {
    list-style-type: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 3;
    display: none;
    width: 100%;
}

.sub-nav li {
    padding-left: 40px;
}

#menuLarge .header__nav--quantity:hover .sub-nav,
#menuSmall .header__nav--quantity:hover .sub-nav  {
    display: block;
}

.sub-nav li {
   padding: 8px 16px;
}

.sub-nav li:hover {
    background-color: #ccc !important;
    cursor: pointer;
}

.sub-nav li a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.5;
}


.card {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 16px;
    border-radius: 5px;
    font-size: 15px;
    height: 100%;
}

/* profile  */

.profile__name {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.profile__img {
    text-align: center;
    margin: 15px 0;
}

.profile__img img {
    width: 106px;
    height: 106px;
    border-radius: 50%; 
}

.profile__content {
    padding-top: 5px;
    border-top: 1px solid #f1f1f1;
}

.profile__content p {
    margin-top: 15px;
}

.profile__content i {
    color: #7d97a5;
    font-size: 15px;
    margin-right: 16px;
}

/* Short cut  */
.shortcuts {
    background-color: #7d97a5;
    color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
    list-style-type: none;
    font-size: 15px;
}

.shortcuts li {
    padding: 8px 0;
    cursor: pointer;
}

.shortcuts__item {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 16px;
    display: none;
}

#my_photos {
    padding-top: 0;
}

.shortcuts__item-img img{
    width: 100%;
    margin-top: 16px;
}

.shortcuts__item .card {
    padding-top: 0;
}


.shortcuts li:hover {
    background-color: #cccccc;
}

.shortcuts li:first-child:hover {
    background-color: #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.shortcuts li:last-child:hover {
    background-color: #cccccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.shortcuts i {
    color: #ffffff;
    font-size: 15px;
    margin: 0 16px;
}

.main {
    margin-top: 50px;
}

.tags {
    font-size: 15px;
    margin-bottom: 15px;
}

.label {
    padding: 4px 8px;
    font-size: 12px;
    margin-bottom: 4px;
    display: inline-block;
}

.label--darkslategray {
    background-color: #303e45;
    color: #ffffff;
}

.label--dimgray {
    background-color: #4d636f;
    color: #ffffff;
}

.label--darkgray {
    background-color: #798e99;
    color: #000000;
}

.label--gainsboro {
    background-color: #dfe5e8;
    color: #000000;
}

.label--whitesmoke {
    background-color: #f5f7f8;
    color: #000000;
}

/* notification  */

#notification {
    background-color: #dfe5e8;
    position: relative;
    border: 1px solid #ccc;
}

.notification__heading {
    font-size: 15px;
    margin-bottom: 15px;
}

.notification__text {
    font-size: 15px;
    line-height: 1.5;
}

.notification__close {
    background-color: #becbd2;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.notification__close:hover {
    background-color: #ccc;
}

/* post  */
.post {
    padding: 8px 16px;
}

.post__heading {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.6;
    margin-top: 10px;
}

.post__input {
    padding: 8px 16px;
    width: 100%;
    border: 1px solid #ccc;
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
}

.btn--post {
    background-color: #607d8b;
    color: #ffffff;
    display: inline-block;
}

.btn--post i {
    margin-right: 8px;
}

/* New  */
.news {
    margin-bottom: 40px;
}

.new__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new__heading-me {
    display: flex;
    align-items: center;
}

.new__heading-me h4 {
    font-size: 20px;
    font-weight: 300;
}

.new__heading-me img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 16px;
}

.new__content-img {
    width: 100%;
    margin-bottom: 16px;
}

.new__heading-times {
    opacity: 0.6;
}

.new__content-text {
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
}

/* aside  */
.aside-session {
    font-size: 15px;
    text-align: center;
}

.aside-session__text {
    color: #333333;
    margin-bottom: 15px;
}

.aside-session__img {
    width: 100%;
}

.aside-session__img--small {
    width: 50%;
}

.btn--large {
    background-color: #dfe5e8;
}

.wrap-btn {
    display: flex;

}

.btn--check {
    width: 50%;
    background-color: #4caf4fad;
    color: #ffffff;
  
}

.btn--close {
    width: 50%;
    background-color: #f44336ab;
    color: #ffffff;
}

.btn--check:hover, 
.btn--close:hover {
    transform: translateY(-2px);
    transition: transform 0.3s;
}

.advertise img {
    width: 100%;
}

.bugs {
    text-align: center;
    padding: 32px 0;
}

.bugs i {
    font-size: 50px;
}